.Registration {
	width: 320px;
	height: 370px;
 background-color: Honeydew;
 margin-left: 40%;
 margin-top: 5%;
 padding: 55px 30px 30px 30px;
 border-radius: 10px;
}

.Banner {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: white;
	height: 25px;
	width: 150px;
	background-color: #01b9b9;
	text-align: center;
	margin-top: -22.7%;
}

input {
	font-family: Arial;
	font-size: 12pt;
	color: #777777;
	width: 260px;
	height: 30px;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

strong{
	display: block;
}

span {
	color: #01b9b9;
}

.Bottom {
	margin-bottom: 35px;
}

button {
	height: 45px;
	width: 260px;
	background-color: #01b9b9;
}

.Text {
	color: white;
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;
}